@font-face {
  font-family: 'SFProDisplay-Regular';
  src: local('SFProDisplay-Regular'),
    url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
    url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay-SemiBold';
  src: local('SFProDisplay-SemiBold'),
    url('../fonts/SF-Pro-Display-Semibold.woff2') format('woff2'),
    url('../fonts/SF-Pro-Display-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay-Bold';
  src: local('SFProDisplay-Bold'),
    url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
    url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay-Heavy';
  src: local('SFProDisplay-Heavy'),
    url('../fonts/SF-Pro-Display-Heavy.woff2') format('woff2'),
    url('../fonts/SF-Pro-Display-Heavy.woff') format('woff');
  font-weight: 860;
  font-display: swap;
}